/* this was from docs from some code sandbox I found on docs page */
/* and I think it workded well */
/* 
html,
body,
#root {
  height: 100%;
  margin: unset;
}
*/

/* this was from the workshop */
/* also I don't see any problems with this */
/* it works well */
html,
body,
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* author of the workshop didn't add this one */
  /* works with this */
  /* margin: 0; */
  /* or with this */
  margin: unset;

  /*  */
  /* background: lightskyblue; */
  /* background: crimson; */
}

canvas {
  /* border: purple solid 2px; */
  /* doesn't do anything */
  background: transparent;
  /* fix */
  touch-action: none;
}

/* some testing */

.testing {
  background-color: #1a2c47;
}

/* ----------------------------------- */
.html_screen iframe {
  width: 1024px;
  height: 670px;
  /* 
  */
  border: none;
  border-radius: 20px;
  background: #000000;
}
