/* this was from docs from some code sandbox I found on docs page */
/* and I think it workded well */
/* 
html,
body,
#root {
  height: 100%;
  margin: unset;
}
*/

/* this was from the workshop */
/* also I don't see any problems with this */
/* it works well */
html,
body,
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* author of the workshop didn't add this one */
  /* works with this */
  /* margin: 0; */
  /* or with this */
  margin: unset;

  /*  */
  /* background: lightskyblue; */
  /* background: crimson; */
}

canvas {
  /* border: purple solid 2px; */
  /* doesn't do anything */
  background: transparent;
}

/* some testing */

.testing {
  background-color: #4e20cc00;
}
